<!-- exercise1.page.html -->
<ion-content>
  <!-- Otros elementos de la página -->
  <ion-row class="fila-con-dos-columnas">
    <ion-col size="12" size-md="6">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod assumenda sequi ullam! Totam repellat assumenda iusto fuga minus saepe magnam labore modi autem. Amet, magnam?
      <img src="https://cdn.vox-cdn.com/thumbor/NQKjwrEo6UgT2ZPkKzfKNq0YHjY=/0x0:2880x1622/1200x800/filters:focal(1210x581:1670x1041)/cdn.vox-cdn.com/uploads/chorus_image/image/72941920/Lego_Fortnite_village_cover.0.png" alt="">
  </ion-col>
    <ion-col size="12" size-md="6">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In quidem praesentium suscipit et dolor! Natus illo sequi id pariatur cumque hic recusandae est modi alias?
    <img src="https://cdn2.unrealengine.com/lego-fortnite-brite-bomber-1920x1080-f31ebf3e2197.jpg" alt="">
    </ion-col>
  </ion-row>
</ion-content>
