<ion-content>
  <!-- Otros elementos de la página -->
  <ion-row>
    <ion-col size-xs="12" size-sm="6" size-lg="4">
     Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus incidunt, vel ratione nobis amet alias, architecto libero deleniti temporibus quo, enim nemo nam fugit facilis?
    </ion-col>

    <ion-col size-xs="12" size-sm="6" size-lg="4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, voluptates? Natus ullam ipsam id, fuga atque magnam sint ex eos quo vero beatae voluptates iste?
    </ion-col>

    <ion-col size-xs="12" size-sm="6" size-lg="4">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium culpa repellendus dolorum, laboriosam minima aperiam aliquid! Animi pariatur voluptatibus optio incidunt, quis illum voluptates ab.
    </ion-col>
  </ion-row>
</ion-content>