/* exercise1.page.scss */

// Estilos para el ion-card en general
ion-card {
    height: 100%;
  }
  
  // Media query para pantallas con un ancho máximo de 400 píxeles
  @media only screen and (max-width: 400px) {
    ion-card {
      background-color: #ffcc00;  /* Cambia este color según tus preferencias */
      /* Otros estilos específicos para pantallas con un ancho máximo de 400 píxeles */
      height: 100%;
      color: purple;
    }
  }
  